$bodyBackground: rgba(198, 238, 252, 0.53);
$contentBackground: #3b3b3b;
$titleColor: #fccd10;
$titleUpp: uppercase;
$thBackgr: #94a34e;
$thBorderCol: #ffffff;
$tdBackgr: #677d01;
$contentColor: #ffffff;
$labelCol: #f5c70f;
$linkColor: $titleColor;
$subButCol: #f5c70f;


// for brief mixin
$briefBg: #fff178;
$briefMargin: 0 0 30px 0;
