$bodyBackground: #dcbb9a;
$contentBackground: #ffffff;
$titleColor: #893c00;
$thBackgr: #e0e0e0;
$thBorderCol: #ffffff;
$labelCol: #808080;
$linkColor: #3d70a1;
$subButCol: $linkColor;


// for brief mixin
$briefBg: #fadcba;
$briefFloat: left;
$briefWidth: 380px;
$briefMargin: 0 20px 0 0;

